.content {
  padding-top: 1rem;
  color: aliceblue;
  h1 {
    margin: 0;
  }
}

.btnEdit {
  margin: 1.5rem;
  padding: 8px;
  font-size: 0.8rem;
  font-weight: bold;
  margin-top: 1.5rem;
  border-color: #00bc77;
  background-color: #00bc77;
  color: #fff;
  cursor: pointer;
}
